@font-face {
  font-family: "Titillum";
  src: url(./SardorsFonts/TitilliumWeb/TitilliumWeb-Regular.ttf);
}
* {
  box-sizing: border-box;
  list-style: none;
  font-family: "Titillum";
  text-decoration: none;
  color: black;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.Sardor_Nav1 {
  width: 100%;
  height: 100px;
  padding: 24px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #EAEAEA;
}
.Sardor_Nav1 ul {
  margin: 0;
  padding: 0;
}
.Sardor_Nav1 ul li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.Sardor_Nav1 .Sardor_Ul1 {
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 44px;
}
.Sardor_Nav1 .Sardor_Ul1 li:first-child {
  position: relative;
  width: 42px;
  height: 42px;
}
.Sardor_Nav1 .Sardor_Ul1 li:first-child img {
  position: absolute;
  width: 42px;
  height: 42px;
  z-index: 1;
}
.Sardor_Nav1 .Sardor_Ul1 p {
  font-weight: 600;
  font-size: 32px;
  opacity: 0.8;
}
.Sardor_Nav1 .Sardor_Ul1 p a {
  color: #454545;
}
.Sardor_Nav1 .Sardor_Ul2 {
  width: 30%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Sardor_Nav1 .Sardor_Ul2 button {
  width: 45px;
  height: 50px;
  padding: 13.755px;
  background: rgba(242, 242, 242, 0.5019607843);
  border-radius: 6px;
  border: none;
  border-radius: 6px 0 0 6px;
}
.Sardor_Nav1 .Sardor_Ul2 button i {
  width: 17.49px;
  height: 17.49px;
  cursor: pointer;
}
.Sardor_Nav1 .Sardor_Ul2 input {
  width: 372.6px;
  height: 50px;
  padding: 13.755px;
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  background: rgba(242, 242, 242, 0.5019607843);
  border-radius: 0 6px 6px 0;
  border: none;
}
.Sardor_Nav1 .Sardor_Ul2 input:focus {
  outline: none;
}
.Sardor_Nav1 .Sardor_Ul3 {
  width: 20%;
  height: inherit;
  padding: 0.001%;
  display: grid;
  grid-template-columns: auto 80px auto;
  justify-content: flex-end;
  align-items: center;
  gap: 5%;
}
.Sardor_Nav1 .Sardor_Ul3 p {
  margin: 0;
}
.Sardor_Nav1 .Sardor_Ul3 li:first-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Sardor_Nav1 .Sardor_Ul3 li:first-child img {
  width: 44px;
}
.Sardor_Nav1 .Sardor_Ul3 li:nth-child(2) {
  width: 100%;
  padding: 0.001%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Sardor_Nav1 .Sardor_Ul3 li:nth-child(2) .Sardor_Ul35 {
  width: 100%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  align-items: center;
}
.Sardor_Nav1 .Sardor_Ul3 li:nth-child(2) .Sardor_Ul35 p {
  font-weight: 600;
  font-size: 16px;
  opacity: 0.8;
}
.Sardor_Nav1 .Sardor_Ul3 li:last-child {
  padding: 0.001%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Sardor_Nav2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 6%;
  height: 100vh;
  padding: 3% 2%;
  background: #FFF9F5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Sardor_Nav2 ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Sardor_Nav2 ul:first-child {
  padding-top: 100px;
}
.Sardor_Nav2 ul:first-child li:first-child {
  margin-bottom: 30px;
}
.Sardor_Nav2 ul:last-child {
  width: 86.4px;
  border-top: 2px solid #EAEAEA;
  padding-top: 26px;
  padding-right: 28.8px;
}
.Sardor_Nav2 ul li {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

main {
  width: 94%;
  height: 82.5vh;
  padding: 1.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main p {
  margin: 0;
}
main section {
  width: 100%;
  height: 100%;
  padding: 1.9%;
  background: #FBFBFB;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
main section .Sardor_Top {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5%;
}
main section .Sardor_Top .Sardor_Left {
  width: 7.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section .Sardor_Top .Sardor_Left img {
  width: 100%;
}
main section .Sardor_Top .Sardor_Mid {
  display: grid;
  justify-content: flex-start;
}
main section .Sardor_Top .Sardor_Mid p {
  font-weight: 600;
  font-size: 24px;
  color: #181818;
}
main section .Sardor_Top .Sardor_Right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main section .Sardor_Top .Sardor_Right a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}
main section .Sardor_Bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}
main section .Sardor_Bottom .Sardor_Title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main section .Sardor_Bottom .Sardor_Title p {
  font-weight: 600;
  font-size: 24px;
  color: #181818;
}
main section .Sardor_Bottom .Sardor_Infos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: flex-start;
  gap: 40px;
}
main section .Sardor_Bottom .Sardor_Infos .Sardor_In_Left {
  display: grid;
  gap: 24px;
}
main section .Sardor_Bottom .Sardor_Infos .Sardor_In_Left p {
  font-weight: 400;
  font-size: 20px;
  color: #5E5757;
}
main section .Sardor_Bottom .Sardor_Infos .Sardor_In_Right {
  display: grid;
  gap: 22px;
}
main section .Sardor_Bottom .Sardor_Infos .Sardor_In_Right p {
  font-weight: 400;
  font-size: 24px;
  color: #181818;
}
main section .Sardor_Bottom .Sardor_Infos .Sardor_In_Right a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  font-size: 24px;
  color: #181818;
}
main section .Sardor_Bottom .Sardor_Infos .Sardor_In_Right a:first-child {
  margin-top: -4.7px;
  color: #FE8627;
}

.Sardor_Back_Modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(66, 64, 64, 0.21);
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Sardor_Back_Modal p {
  margin: 0;
}
.Sardor_Back_Modal .Sardor_Modal {
  position: relative;
  padding: 3%;
  display: grid;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(254, 134, 39, 0.41);
  gap: 6%;
}
.Sardor_Back_Modal .Sardor_Modal .Sardor_Mod_Top {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.Sardor_Back_Modal .Sardor_Modal .Sardor_Mod_Top .Sardor_Mod_Top_Left {
  width: 70px;
  display: grid;
  justify-content: flex-end;
  gap: 34px;
}
.Sardor_Back_Modal .Sardor_Modal .Sardor_Mod_Top .Sardor_Mod_Top_Left p {
  text-align: end;
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.72);
}
.Sardor_Back_Modal .Sardor_Modal .Sardor_Mod_Top .Sardor_Mod_Top_Right {
  display: grid;
  justify-content: flex-start;
  gap: 20px;
}
.Sardor_Back_Modal .Sardor_Modal .Sardor_Mod_Top .Sardor_Mod_Top_Right input {
  width: 543px;
  height: 41px;
  padding: 7px 10px;
  border: 0.5px solid #FE8627;
  filter: drop-shadow(1px 1px 4px rgba(254, 134, 39, 0.5)) drop-shadow(-1px -1px 4px rgba(254, 134, 39, 0.5));
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
  font-size: 18px;
}
.Sardor_Back_Modal .Sardor_Modal .Sardor_Mod_Top .Sardor_Mod_Top_Right input:focus {
  outline: none;
}
.Sardor_Back_Modal .Sardor_Modal .Sardor_Mod_Bottom {
  width: 101.5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3%;
}
.Sardor_Back_Modal .Sardor_Modal .Sardor_Mod_Bottom .Sardor_Mod_Exit {
  font-weight: 400;
  font-size: 20px;
  background: none;
  border: none;
  color: #222020;
}
.Sardor_Back_Modal .Sardor_Modal .Sardor_Mod_Bottom .Sardor_Mod_Save {
  width: 124px;
  height: 34px;
  font-weight: 400;
  font-size: 20px;
  background: #FE8627;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
}

.hide {
  display: none !important;
}

@media only screen and (max-width: 1441px) {
  .Sardor_Img1 {
    top: 110.5px !important;
  }
  .Sardor_Img2 {
    top: 171.5px !important;
  }
  .Sardor_Img3 {
    top: 232px !important;
  }
}
@media only screen and (max-width: 1114px) {
  .Sardor_Img1 {
    top: 100.5px !important;
    right: 40px !important;
  }
  .Sardor_Img2 {
    top: 162px !important;
    right: 40px !important;
  }
  .Sardor_Img3 {
    top: 222px !important;
    right: 40px !important;
  }
}
@media only screen and (max-width: 1025px) {
  .Sardor_Img1 {
    top: 98px !important;
    right: 35px !important;
  }
  .Sardor_Img2 {
    top: 159px !important;
    right: 35px !important;
  }
  .Sardor_Img3 {
    top: 220px !important;
    right: 35px !important;
  }
}/*# sourceMappingURL=Sardor'sStyle.css.map */