@font-face {
    font-family: "Titillum";
    src: url(./SardorsFonts/TitilliumWeb/TitilliumWeb-Regular.ttf);
}

* {
    box-sizing: border-box;
    list-style: none;
    font-family: "Titillum";
    text-decoration: none;
    color: black;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.Sardor_Nav1 {
    width: 100%;
    height: 100px;
    padding: 24px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #EAEAEA;

    ul {
        margin: 0;
        padding: 0;

        li {
            width: max-content;
        }
    }

    .Sardor_Ul1 {
        width: 50%;
        height: inherit;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 44px;

        li:first-child {
            position: relative;
            width: 42px;
            height: 42px;

            img {
                position: absolute;
                width: 42px;
                height: 42px;
                z-index: 1;
            }
        }

        p {
            font-weight: 600;
            font-size: 32px;
            opacity: 0.8;

            a {
                color: #454545;
            }
        }
    }

    .Sardor_Ul2 {
        width: 30%;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 45px;
            height: 50px;
            padding: 13.755px;
            background: #f2f2f280;
            border-radius: 6px;
            border: none;
            border-radius: 6px 0 0 6px;

            i {
                width: 17.49px;
                height: 17.49px;
                cursor: pointer;
            }
        }

        input {
            width: 372.6px;
            height: 50px;
            padding: 13.755px;
            font-weight: 400;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.8);
            background: #F2F2F280;
            border-radius: 0 6px 6px 0;
            border: none;

            &:focus {
                outline: none;
            }
        }
    }

    .Sardor_Ul3 {
        width: 20%;
        height: inherit;
        padding: 0.001%;
        display: grid;
        grid-template-columns: auto 80px auto;
        justify-content: flex-end;
        align-items: center;
        gap: 5%;

        p {
            margin: 0;
        }

        li:first-child {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            img {
                width: 44px;
            }
        }

        li:nth-child(2) {
            width: 100%;
            padding: 0.001%;
            display: flex;
            justify-content: center;
            align-items: center;

            .Sardor_Ul35 {
                width: 100%;
                height: inherit;
                display: flex;
                flex-wrap: wrap;
                justify-self: center;
                align-items: center;

                p {
                    font-weight: 600;
                    font-size: 16px;
                    opacity: 0.8;
                }
            }
        }

        li:last-child {
            padding: 0.001%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
}

.Sardor_Nav2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 6%;
    height: 100vh;
    padding: 3% 2%;
    background: #FFF9F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    ul {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &:first-child {
            padding-top: 100px;

            li:first-child {
                margin-bottom: 30px;
            }
        }

        &:last-child {
            width: 86.4px;
            border-top: 2px solid #EAEAEA;
            padding-top: 26px;
            padding-right: 28.8px;
        }

        li {
            width: 100%;
            height: max-content;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}

main {
    width: 94%;
    height: 82.5vh;
    padding: 1.3%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 0;
    }

    section {
        width: 100%;
        height: 100%;
        padding: 1.9%;
        background: #FBFBFB;
        border-radius: 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;

        .Sardor_Top {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2.5%;

            .Sardor_Left {
                width: 7.5%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                }
            }

            .Sardor_Mid {
                display: grid;
                justify-content: flex-start;

                p {
                    font-weight: 600;
                    font-size: 24px;
                    color: #181818;
                }
            }

            .Sardor_Right {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                a {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
                }
            }
        }

        .Sardor_Bottom {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            gap: 25px;

            .Sardor_Title {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                p {
                    font-weight: 600;
                    font-size: 24px;
                    color: #181818;
                }
            }

            .Sardor_Infos {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, auto);
                justify-content: flex-start;
                gap: 40px;

                .Sardor_In_Left {
                    display: grid;
                    gap: 24px;

                    p {
                        font-weight: 400;
                        font-size: 20px;
                        color: #5E5757;
                    }
                }

                .Sardor_In_Right {
                    display: grid;
                    gap: 22px;

                    p {
                        font-weight: 400;
                        font-size: 24px;
                        color: #181818;
                    }

                    a {
                        width: fit-content;
                        font-weight: 400;
                        font-size: 24px;
                        color: #181818;

                        &:first-child {
                            margin-top: -4.7px;
                            color: #FE8627;
                        }
                    }
                }
            }
        }
    }
}

.Sardor_Back_Modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(66, 64, 64, 0.21);
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    p {
        margin: 0;
    }

    .Sardor_Modal {
        position: relative;
        padding: 3%;
        display: grid;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(254, 134, 39, 0.41);
        gap: 6%;

        .Sardor_Mod_Top {
            display: grid;
            grid-template-columns: repeat(2, auto);
            justify-content: center;
            align-items: center;
            gap: 3%;

            .Sardor_Mod_Top_Left {
                width: 70px;
                display: grid;
                justify-content: flex-end;
                gap: 34px;

                p {
                    text-align: end;
                    font-weight: 400;
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.72);
                }
            }

            .Sardor_Mod_Top_Right {
                display: grid;
                justify-content: flex-start;
                gap: 20px;

                input {
                    width: 543px;
                    height: 41px;
                    padding: 7px 10px;
                    border: 0.5px solid #FE8627;
                    filter: drop-shadow(1px 1px 4px rgba(254, 134, 39, 0.5)) drop-shadow(-1px -1px 4px rgba(254, 134, 39, 0.5));
                    border-radius: 3px;
                    color: rgba(0, 0, 0, 0.85);
                    font-weight: 400;
                    font-size: 18px;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .Sardor_Mod_Bottom {
            width: 101.5%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 3%;

            .Sardor_Mod_Exit {
                font-weight: 400;
                font-size: 20px;
                background: none;
                border: none;
                color: #222020;
            }

            .Sardor_Mod_Save {
                width: 124px;
                height: 34px;
                font-weight: 400;
                font-size: 20px;
                background: #FE8627;
                border: none;
                border-radius: 5px;
                color: #FFFFFF;
            }
        }
    }
}

.hide {
    display: none !important;
}

@media only screen and(max-width:1441px) {
    .Sardor_Img1 {
        top: 110.5px !important;
    }

    .Sardor_Img2 {
        top: 171.5px !important;
    }

    .Sardor_Img3 {
        top: 232px !important;
    }
}

@media only screen and(max-width:1114px) {
    .Sardor_Img1 {
        top: 100.5px !important;
        right: 40px !important;
    }

    .Sardor_Img2 {
        top: 162px !important;
        right: 40px !important;
    }

    .Sardor_Img3 {
        top: 222px !important;
        right: 40px !important;
    }
}

@media only screen and(max-width:1025px) {
    .Sardor_Img1 {
        top: 98px !important;
        right: 35px !important;
    }

    .Sardor_Img2 {
        top: 159px !important;
        right: 35px !important;
    }

    .Sardor_Img3 {
        top: 220px !important;
        right: 35px !important;
    }
}